# only final results
results/archive/
results/debug/

# big folders
results/
videos_sal/

# compressed files and videos
*.tar.xz
*.zip
*.mp4

# subjects data
data/archive/
data/old/
data/ETFinalCutSampleEC07/

# saliency values
videos_sal/archive/
videos_sal/old/
videos_sal/deepgaze/

# cache for auc
cache/

# only needed scripts
notebooks/old/
notebooks/scripts/old/
notebooks/scripts/deepgaze/